#php_flag allow_url_fopen off
php_flag display_errors On
php_flag html_errors On
php_flag log_errors On

# Turn on URL rewriting
RewriteEngine On

# Installation directory
RewriteBase /

# Protect hidden files from being viewed
<Files .*>
	Order Deny,Allow
	Deny From All
</Files>

# Don't allow any pages to be framed - Defends against CSRF
Header set X-Frame-Options DENY

# Turn on IE8-IE9 XSS prevention tools
Header set X-XSS-Protection "1; mode=block"

# Only allow JavaScript from the same domain to be run.
# Don't allow inline JavaScript to run.
Header set X-Content-Security-Policy "allow 'self';"

# prevent mime based attacks
Header set X-Content-Type-Options "nosniff"

# redirect HTTP to HTTPS from any hackacthon.cbn.id
RewriteCond %{HTTP_HOST} ^hackathon\.cbn\.id [NC]
RewriteCond %{SERVER_PORT} 80 
RewriteRule ^(.*)$ https://hackathon.cbn.id/$1 [R,L]