.image {
	&--zoomlist {
		width: 100%;
		@include medium {
			width: 480px;
			margin-left: auto;
			margin-right: auto;
		}
	}

	&__feature {
		width: 100%;
		margin-bottom: 16px;
	}

	&__wrapper {
		box-shadow: 0px 2px 15px 0 rgba(0, 0, 0, 0.15);
		width: 100%;
		height: 0;
		position: relative;
		padding-bottom: 100%;

		img {
			display: block;
			position: absolute;
			top: 0;
			left: 0;
			right: 0;
			bottom: 0;
			width: 100%;
		}
	}

	&__thumbs {
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
	}

	&__thumb {
		box-sizing: border-box;
		padding: 0 2px;
	}

	&__thumb-item {
		border: 4px solid transparent;
		transition: border-color 200ms ease-out;
		width: 80px;
		height: 80px;
		flex-flow: row wrap;
		display: flex;
		justify-content: center;
		align-items: center;
		cursor: pointer;

		&:hover {
			border: 4px solid $color-secondary;
		}

		&.active {
			border: 4px solid $color-primary;
		}

		img {
			max-width: 100%;
		}
	}
}
