<!DOCTYPE html>
<html lang="en">
<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <meta http-equiv="X-UA-Compatible" content="ie=edge">
   <meta name="format-detection" content="telephone=no">
   <title>{{BASE_TITLE}}</title>
   <!-- Favicons: START -->
   <link rel="apple-touch-icon" href="{{BASE_HREF}}apple-touch-icon.png" sizes="180x180" />
   <link rel="icon" href="{{BASE_HREF}}favicon-32x32.png" sizes="32x32" type="image/png" />
   <link rel="icon" href="{{BASE_HREF}}favicon-16x16.png" sizes="16x16" type="image/png" />
   <link rel="icon" href="{{BASE_HREF}}favicon.ico"/>
   <!-- Favicons: END -->
   <link rel="stylesheet" href="{{BASE_HREF}}assets/styles/vendor/normalize.css/normalize.css" />
   {% block vendor_styles %}{% endblock %}
   <link rel="stylesheet" href="{{BASE_HREF}}assets/styles/style.css" />
   {% block additional_styles %}{% endblock %}

   <script src="{{BASE_HREF}}assets/scripts/vendor/modernizr.js" ></script>
   <script src="{{BASE_HREF}}assets/scripts/vendor/jquery/jquery.min.js" ></script>
   <script src="{{BASE_HREF}}assets/scripts/vendor/jquery-migrate/jquery-migrate.min.js" ></script>
</head>
<body>
   {# {% include "partials/hackbdgweather/_preloader.njk" %} #}
   {% block main %}{% endblock %}
   {% block vendor_scripts %}{% endblock %}
   <script type="text/javascript" src="{{BASE_HREF}}assets/scripts/main.js"></script>
   {% block additional_scripts %}{% endblock %}
</body>
</html>