.article {
	&__banner {
		img {
			max-width: 100%;
		}
	}

	&__pull-up {
		position: relative;
		top: -30px;
		text-align: center;

		@include large {
			top: -100px;
		}
	}

	&__image-logo {
		margin-left: auto;
		margin-right: auto;
		margin-bottom: 30px;
		width: 200px;
		height: 200px;
		box-sizing: border-box;
		padding: 20px;
		box-shadow: 0px 10px 30px 0 rgba(0, 0, 0, 0.15);
		background: white;
		display: flex;
		flex-flow: row wrap;
		justify-content: center;
		align-items: center;

		img {
			max-height: 100%;
			max-width: 100%;
		}
	}

	&__content {
		text-align: center;
		@include large {
			text-align: left;
			padding-right: 74px;
			padding-top: 48px;
			// padding-bottom: 48px;
			box-sizing: border-box;
		}
	}

	&__title {
		font-size: rem(24);
		line-height: rem(32);
		font-family: $font-family-headline;
		font-weight: normal;
		margin: 0;
		margin-bottom: 24px;
	}

	&__name {
		@extend .article__title;
		margin-bottom: 4px;
	}

	&__info {
		font-size: rem(13);
		line-height: rem(20);
		color: #909090;
		margin: 0;
		margin-bottom: 24px;

		a {
			color: $color-secondary;
			text-decoration: none;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	&__action {
		.button {
			margin-bottom: 0;
		}
	}

	&__input-qty {
		margin: 12px 24px;

		@include large {
			margin: 24px;
		}

		@include xlarge {
			margin: 12px 24px;
		}

		.input {
			width: 80px;
			margin: 0 6px;
			border: 1px solid #d2d2d2;
			-webkit-transition: border-color 200ms ease-out;
			-o-transition: border-color 200ms ease-out;
			transition: border-color 200ms ease-out;
			text-align: center;
			padding: 10px;
			line-height: 23px;
		}
	}

	&__text {
		p {
			margin: 0;
			margin-bottom: 24px;
			line-height: rem(24);
			font-size: rem(16);
		}

		a {
			text-decoration: none;
			color: $color-secondary;
		}

		a:hover {
			text-decoration: underline;
		}
	}

	&__price {
		margin: 0;
		margin-bottom: 8px;
		font-size: rem(20);
		line-height: rem(32);
		font-family: $font-family-headline;
		font-weight: normal;
		text-align: left !important;
	}

	&__note {
		p {
			font-size: rem(16);
			line-height: rem(24);
			color: #606060;
		}
	}
}
