.header {
	width: 100%;
	height: 100%;

	&__banner {
		height: 100%;
		width: 100%;
		background-image: url('../images/hackbdgweather/img-bg-banner.jpg');
		background-position: center top;
		background-repeat: no-repeat;
		background-size: cover;
		padding: 0 15px;
		box-sizing: border-box;
	}

	&__text {
		font-size: rem(18);
		font-family: $poppins-medium;
	}
}
